.card-card{
    transition: 0.1s;
}
.card-card:hover{
    border-color: green;
    border: 2px solid green;
    cursor: pointer;
}
.card-col{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.card-col a{
    text-decoration: none;
    color: #000 ;
}


